.extra-margin{
  margin-top:2%;
  margin-bottom:2%;
}
button{
  width:100%;
}

a{
  text-decoration: none; //for the purpose of this app, we'll want to custom style our links
}
.gray-text{
  color:lightgray;
}
.item{
  min-height: 300px;
  .item-name{
    height: 140px;
    overflow: hidden;
  }

}
