.extra-margin{
  margin-top:2%;
  margin-bottom:2%;
}

button{
  width:100%;
}

.gray-text{
  color:lightgray;
}

.item{
  min-height: 300px;
  .item-name{
    height: 140px;
    overflow: hidden;
  }

}
