.extra-margin {
  margin-top: 2%;
  margin-bottom: 2%; }

button {
  width: 100%; }

a {
  text-decoration: none; }

.gray-text {
  color: lightgray; }

.item {
  min-height: 300px; }
  .item .item-name {
    height: 140px;
    overflow: hidden; }
