$mui-primary-color:       #EA222D;
$mui-primary-color-dark:  #B41C25;
$mui-primary-color-light: #FF2531;

$mui-accent-color: #b3b3b3;
$mui-accent-color-dark: #666666;
$mui-accent-color-light: #e8e8e8;

// import MUI SASS
@import "node_modules/muicss/lib/sass/mui";