$mui-primary-color:       #007DC6;
$mui-primary-color-dark:  #004C91;
$mui-primary-color-light: #78B9E7;

$mui-accent-color: #367C2B;
$mui-accent-color-dark: #666666; //wat
$mui-accent-color-light: #76C043;

// import MUI SASS
@import "node_modules/muicss/lib/sass/mui";
